.recipe-container {
  width: 18rem;
  height: 25rem;
  cursor: pointer;
}

.recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-title {
  font-size: 1.3rem;
  margin: 0;
}

@media (max-width: 480px) {
  .recipe-container {
    width: 11rem;
    height: 14rem;
  }
}