.most-popular-recipes {
  margin-top: 2rem;
  /* margin-bottom: 5rem; */
}

.recipe-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}

h2 {
  font-size: 2.3rem;
}

p {
  margin-left: 1rem;
}