.search-bar {
  margin: 2rem auto 0;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  max-width: 40rem;
}

.search-bar input {
  width: 100%;
  border-radius: 4px 0 0 4px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 0 10px;
  outline: none;
}

.search-bar button {
  background-color: #FFA33C;
  border-radius: 0px 4px 4px 0;
  border: none;
}

.search-bar button:hover {
  background-color: #F74F22;
}

.most-popular-recipes {
  margin-top: 2rem;
}

.most-popular-recipes h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.recipe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  row-gap: 3.5rem;
  flex-wrap: wrap;
}

.recipe-container a {
  color: #ffffffde;
}

.recipe-container a:hover {
  color: #FFA33C;
  text-decoration: underline;
  transition: all;
  transition-property: all;
  transition-duration: 0.2s;
}

.para {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .search-bar input {
    width: 100%;
  }

  .recipe-container{
    width: 100%;
  }

  .search-bar {
    margin: 2rem auto;
  }
}